/* 글꼴 시작 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium' !important;
}

/* 글꼴 끝 */

/* 헤더 부분 시작 */
.logo {
    width: 130px;
}

.logo>img {
    width: 130px;
}

#menu {
    list-style-type: none;
    float: right;
    margin-right: 120px;
    margin-top: 40px;
}

#menu>li {
    margin-left: 10px;
    float: left;
    border-right: thin solid #999999;
    padding: 0px 16px;
}

#menu>li>a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#menu::after {
    content: "";
    display: block;
    clear: both;
}

#menu>:last-child {
    border-right: hidden;
}

/* 헤더 부분 끝 */

/* categori 영역 시작 */
#nav {
    border-top: 1px solid rgb(164, 160, 160);
    border-bottom: 1px solid rgb(164, 160, 160);
}

#nav::after {
    content: "";
    clear: both;
    display: block;
}

#categori {
    margin-left: 5%;
}

#categori>li {
    float: left;
    width: 16%;
    list-style: none;
    text-align: center;
}

#categori>li>a {
    text-decoration: none;
    color: black;
    line-height: 2em;
    font-weight: bold;
}

/* categori 영역  끝 */

/* 필터링 영역 시작 */
.goods_list_title {
    position: relative;
    padding-top: 70px;
    margin-bottom: 40px;
}

.goods_list_title::after {
    content: "";
    clear: both;
    display: block;
}

.goods_list_title>h2 {
    text-align: center;
    font-size: 3em;
}



#filter_box {
    position: relative;
    height: 40px;
    display: block;
}

#filter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#filter::after {
    content: "";
    clear: both;
    display: block;
}

#filter>li {
    line-height: 2em;
    text-align: center;
    width: 80px;
    float: left;
    margin: 0px 5px;
    list-style: none;
    border: 2px solid #999999;
    border-top-left-radius: 25% 50%;
    border-top-right-radius: 25% 50%;
    border-bottom-left-radius: 25% 50%;
    border-bottom-right-radius: 25% 50%;
}

#filter>li>a {
    display: block;
    text-decoration: none;
    color: black;
}

#filter>.cate {
    border-color: rgb(222, 222, 109);
}

.cate>a {
    color: rgb(222, 222, 109);
}

/* 필터링 영역 끝 */

/* 정렬 시작 */
#sort_list {
    display: inline-block;
    float: right;
    margin-top: 5%;
    margin-right: 22%;
}

#sort_list>li {
    float: left;
}

#sort_list::after {
    content: "";
    clear: both;
    display: block;
}

#sort_list>:last-child {
    margin-left: 30px;
}

#sort_div {
    position: relative;
}

#sort_div::after {
    content: "";
    display: block;
    clear: both;
}

#sort_list>li>ul>li {
    border-left: 1px solid #b2b278;
    border-right: 1px solid #b2b278;
    width: 120px;
    text-align: center;

}

#sort_list>li>ul>:last-child {
    border-bottom: 1px solid #b2b278;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    border-left: 1px solid #b2b278;
    border-right: 1px solid #b2b278;
}

#sort_list>li>ul>:first-child {
    border: 1px solid #b2b278;
    border-radius: 5px;
}

#sort_list>li>ul>:nth-child(2) {
    border-left: 1px solid #b2b278;
    border-right: 1px solid #b2b278;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#sort_list>li>ul>li:not(:first-child) {
    visibility: hidden;
}

#sort {
    width: 140px;
    position: relative;
}

#sort_list>:first-child {
    margin-top: 10px;
}

#sort>li {
    line-height: 1.5em;
    padding: 5px;
    z-index: 10;
}

/* 정렬 끝 */

/* content 시작 */
#content {
    width: 100%;
    position: relative;
    margin-top: 3%;
}

#content>div {
    margin: 0 auto;
    width: 90%;
    margin-left: 13%;
}

#goods_lists {
    width: 80%;
    margin: 0 auto;
}

#goods_lists>li>a {
    text-decoration: none;
    color: black;
    width: 265px;
    height: 265px;
    display: block;
    overflow: hidden;
    border-radius: 25px;
}

#goods_lists>li {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 25%;
    margin-right: 20px;
    margin-bottom: 70px;
}

#goods_lists>li>a,
#goods_lists>li>a>img {
    width: 100%;
}

#goods_lists>li>div {
    margin-top: 10px;
}

.hover_image {
    transition: transform 0.3s ease;
}
.image_container:hover .hover_image {
    transform: scale(110%, 110%);
}
.image-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
}
/* content 끝 */

/* content 밑 버튼 시작 */
#buttons {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}

#buttons::after {
    content: "";
    clear: both;
    display: block;
}

#buttons>li {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: white;
    margin: 5px;
    border-radius: 50%;
    vertical-align: middle;
}

#buttons>li>span {
    display: block;
    width: 100%;
    line-height: 33px;
    color: black;
    cursor: pointer;
}

#buttons>.click {
    background-color: #999999;
}

#buttons>.click>span {
    color: white;
}

/* content 밑 버튼 끝 */

/* footer 시작 */
#footer {
    text-align: center;
    margin-top: 100px;
    padding-top: 10em;
    width: 100%;
    background-color: whitesmoke;
}

/* footer 끝 */