<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ha.dao.TB_AnswerDAO">
  <insert id="insertanswer" parameterType="com.ha.entity.TB_Answer">
    insert into tb_answer(
      q_seq,
      a_content,
      nick,
      prod_seq
    )values(
      #{q_seq},
      #{a_content},
      #{nick},
      #{prod_seq}
    )
  </insert>
  <select id="selectanswer" parameterType="com.ha.entity.TB_Answer" resultType="com.ha.entity.TB_Answer">
    select
      a_seq
      ,q_seq
      ,a_content
      ,TO_CHAR(created_at, 'YYYY-MM-DD') AS created_at
      ,nick
      ,prod_seq
    from TB_answer
    where prod_seq = #{prod_seq}
  </select>
</mapper>