<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ha.dao.TB_ProductListMapper">

	<select id="lighting" resultType="com.ha.entity.TB_Product">
		select * from TB_Product
		where prod_type = '조명'
	</select>
	
	<select id="table" resultType="com.ha.entity.TB_Product">
		select * from TB_Product
		where prod_type = '테이블'
	</select>
	
	
	<select id="chair" resultType="com.ha.entity.TB_Product">
		select * from TB_Product
		where prod_type = '의자/소파'
	</select>
	
	<select id="storage" resultType="com.ha.entity.TB_Product">
		select * from TB_Product
		where prod_type = '수납'
	</select>
	
	<select id="bedding" resultType="com.ha.entity.TB_Product">
		select * from TB_Product
		where prod_type = '침구류'
	</select>
	
	<select id="gajun" resultType="com.ha.entity.TB_Product">
		select * from TB_Product
		where prod_type = '가전제품'
	</select>
	
	<select id="searched" resultType="com.ha.entity.TB_Product">
		select *  from TB_Product
		where prod_name like '%${search}%'
	</select>
	
	<select id="property" resultType="com.ha.entity.TB_Product">
		select *  from TB_Product
		where prod_detail= #{property}
	</select>

	<select id="count" resultType="int">
		select count(*) from TB_Product
		where prod_detail= #{property}
	</select>

	<select id="paging" resultType="com.ha.entity.TB_Product" parameterType="com.ha.entity.Paging">
		select * 
		from (select prod_seq, prod_at, prod_detail, prod_img, prod_name, prod_price, prod_type, rownum as RN from TB_Product
		        where prod_detail= #{property})
		where RN BETWEEN #{page} and #{page}+14
	</select>
</mapper>
