<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ha.dao.TB_MemberDAO">


	










<insert id="join" parameterType="com.ha.entity.TB_Member">
	insert into TB_MEMBER(
	id,
	pw,
	nick,
	addr,
	phone,
	gender
	)
	values(
	#{id},
	#{pw},
	#{nick},
	#{addr},
	#{phone},
	#{gender}
	)
</insert>

<select id="login" parameterType="com.ha.entity.TB_Member"
resultType="com.ha.entity.TB_Member">
	
	select * from tb_member
	where id=#{id}
	and pw=#{pw}

</select>

<update id="update" parameterType="com.ha.entity.TB_Member">
		
		UPDATE tb_member
		SET pw = #{pw}, 
		nick = #{nick}, 
		addr = #{addr}, 
		phone= #{phone}, 
		gender= #{gender}
		where id=#{id}
	
	
</update>













</mapper>
