<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ha.dao.TB_OrderDAO">


	<insert id="insertorder" parameterType="com.ha.entity.TB_ORDER">
		insert into tb_order(
			nick,
			total_amount,
			discount_amount,
			pay_amount,
			pay_method,
			order_status
		)values(
		#{nick},
		#{total_amount},
		#{discount_amount},
		#{pay_amount},
		#{pay_method},
		#{order_status}
		
		)
		
	</insert>

	
		<select id="orderlist" resultType="com.ha.entity.TB_ORDER">
		
		select order_seq
			  ,nick
			  ,TO_CHAR(created_at, 'YYYY-MM-DD') AS created_at
			  ,total_amount
			  ,discount_amount
			  ,pay_amount
			  ,pay_method
			  ,paid_amount
			  ,order_status
			from tb_order
			order by order_seq desc
		
		
		</select>


































</mapper>