<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ha.dao.TB_ReviewMapper">



	<insert id="insert" parameterType="com.ha.entity.TB_Review">
		insert into tb_review(
		prod_seq,
		review_content,
		nick,
		ratings

		)values(
		#{p_number},
		#{content},
		#{nick},
		#{ratings}

		)

	</insert>



	<select id="list" resultType="com.ha.entity.TB_Review"
	parameterType="com.ha.entity.TB_Review">

		select *
		from tb_review
		where prod_seq = #{prod_seq}

	</select>






</mapper>